.section3Flex {
    display: flex;
    height: 800px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    margin-top: 60px;
}

.section3Text {
    font-size: 30;
}

.section3CenterText {
    font-size: 30;
}

.section3Separator1 {
    background-color: red;
    display: inline-block;
    vertical-align: auto;
    width: 6%;
    height: 0.6%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.section3BottomText {
    font-size: 14;
    max-width: 80%;
    color: gray;
    text-align: center;
}

.section3UpperIcons {
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.s3IconsContainer {
    display: inline-block;
    vertical-align: auto;
    height: 100%;
    width: 33%;
    text-align: center;
}

.s3Icons {
    width: 90%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 8px;
}

.s3Icon1 {
    margin-left: 20px;
    background-image: url(../Images/im17.jpg);
}

.s3Icon2 {
    background-image: url(../Images/im18.jpg);
}

.s3Icon3 {
    background-image: url(../Images/im19.jpeg);
}

.s3IconHover:hover::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #e77171, #d9e626);
    opacity: 0.7;
}

.s3IconHover:hover {
    transform: translate(-15px, -15px);
    transition: 0.5s;
    filter: drop-shadow(15px 15px 0px #748DFF);
    z-index: 0;
}

.s3IconHover:hover::before {
    text-align: center;
    content: '';
    position: absolute;
    top: calc(50% - 40px);
    right: 20%;
    width: 50%;
    height: 40px;
    padding: 10px;
    background-image: url(https://www.freeiconspng.com/thumbs/camera-icon/camera-icon-png--clipart-best-23.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: invert(1);
    z-index: 1;
}

.section3Footer {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: auto;
    background-color: rgb(254, 250, 247);
    height: 350px;
    width: 80%;
}

.iconFooterS3 {
    width: 10%;
    height: 80%;
    margin: 10px;
}

.s3IconsBottomText {
    font-size: 12;
    color: gray;
    font-style: italic;
}

.s3IconsBottomText {
    font-size: 10;
}

.s3IconsText {
    font-size: 16;
    font-family: fontMain;
}