.section2Flex {
    display: flex;
    height: 600px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    margin-top: 60px;
}

.section2Text {
    font-size: 30px;
}

.section2CenterText {
    font-size: 30px;
}

.section2Separator1 {
    background-color: var(--colorSeparators);
    display: inline-block;
    vertical-align: auto;
    width: 6%;
    height: 0.6%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.section2BottomText {
    font-size: 14;
    max-width: 80%;
    text-align: center;
    color: gray;
}

.section2UpperIcons {
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.s2Icon1 {
    display: inline-block;
    vertical-align: auto;
    height: 100%;
    width: 40%;
    background-image: url(../Images/im16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 8px;
}

.s2Icon1:hover {
    transform: scale(1.04);
    transition: 1s;
}

.s2PanelText {
    color: gray;
    font-family: fontSec;
    font-size: 20px;
    /* margin-bottom: 20px; */
}

.iconNorm {
    width: 60px;
    height: 60px;
    padding: 20px;
    filter: contrast(50%) sepia(100%) hue-rotate(120deg) brightness(2) saturate(500%);
    margin: 10px;
    margin-left: 5%;
    border: 2px solid black;
}

.iconArrowLeft {
    margin-left: 10%;
    width: 15px;
    height: 15px;
    filter: contrast(50%);
}

.iconArrowLeft:hover {
    filter: grayscale(1);
    transform: scale(1.4);
    transition: 2s;
}

.iconArrowRight {
    transform: rotate(180deg);
    width: 15px;
    height: 15px;
    margin-right: 10%;
    filter: contrast(50%);
}

.iconArrowRight:hover {
    filter: grayscale(1);
    transform: scale(1.4) rotate(180deg);
    transition: 2s;
}

.s2FooterText {
    color: gray;
}

.s2DivContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    height: 80%;
}

.s2FooterTextContainer {
    margin-bottom: 20px;
}

.s2FooterRedLine {
    background-color: var(--colorSeparators);
    display: inline-block;
    vertical-align: auto;
    width: 8%;
    height: 2px;
}

.s2Icon2 {
    display: inline-block;
    vertical-align: auto;
    height: 100%;
    width: 40%;
    background-color: var(--colorFooters);
    margin: 8px;
}

.section2Footer {
    margin-top: 50px;
    display: flex;
    vertical-align: auto;
    background-color: var(--colorFooters);
    height: 650px;
    width: 100%;
    align-items: center;
    column-gap: 50px;
    overflow: hidden;
}