.section4Flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    margin-top: 60px;
    height: 795px;
}

.section4Text {
    font-size: 30;
}

.section4CenterText {
    font-size: 30;
}

.section4Separator1 {
    background-color: red;
    display: inline-block;
    vertical-align: auto;
    width: 6%;
    height: 0.3%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.section4BottomText {
    font-size: 14;
    max-width: 80%;
    color: gray;
    text-align: center;
}

.section4Grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: transparent;
    height: 400px;
    width: 100%;
}

.s4Img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.s4Img1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url(../Images/im26.jpg);
}

.s4Img2 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(../Images/im27.jpg);
}

.s4Img3 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(../Images/im31.jpg);
}

.s4Img4 {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(../Images/im29.jpg);
}

.s4Img5 {
    grid-area: 1 / 3 / 3 / 4;
    background-image: url(../Images/im28.jpg);
}

.s4Img6 {
    grid-area: 1 / 4 / 2 / 5;
    background-image: url(../Images/im32.jpg);
}

.s4Img7 {
    grid-area: 2 / 4 / 3 / 5;
    background-image: url(../Images/im30.jpg);
}

.section4Footer {
    display: flex;
    background:linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8) 150%), url(../Images/im33.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.section4Footer:hover{
    filter: brightness(1.4);
    transition: 1s;
}

.s4MapIcon{
    display: inline-block;
    vertical-align: auto;
    width: 40px;
    height: 40px;
    background-image: url(../Icons/im11.png);
    background-size: contain;
    filter: contrast(50%) sepia(100%) hue-rotate(310deg) brightness(2) saturate(1000%);
    z-index: 2;
}

.s4MapIcon:hover{
    transition: 1s;
    transform: translateY(-10px);
}

.s4MapText{
    color: red;
    font-size: 20;
    font-weight: bold;
    margin-top:20px;
    margin-bottom: 20px;
}

.s4MapText:hover{
    transition: 1s;
    transform: translateY(-10px);
}

.s4MapLine{
    background-color: red;
    display: inline-block;
    vertical-align: auto;
    width: 6%;
    height: 4px;
}

.s4MapLine:hover{
    transition: 1s;
    transform: translateY(-10px);
}

.s4IconHover:hover::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #e77171, #d9e626);
    opacity: 0.7;
}

.s4IconHover:hover {
    transform: translate(0px, -10px);
    transition: 0.5s;
    z-index: 0;
}

.s4IconHover:hover::before {
    text-align: center;
    content: '';
    position: absolute;
    top: calc(50% - 40px);
    right: 20%;
    width: 50%;
    height: 40px;
    padding: 10px;
    background-image: url(https://www.freeiconspng.com/thumbs/camera-icon/camera-icon-png--clipart-best-23.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: invert(1);
    z-index: 1;
}